@mixin fluid-text($max, $min) {
	font-size: clamp(#{$min}px, #{calc($max / 1440 * 100)}vw, #{$max}px);
}

@mixin reset-link {
	color: inherit;
	&,
	&:hover {
		text-decoration: none;
	}
}

@mixin reset-button {
	padding: 0;
	background-color: transparent;
	border: none;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin square($size) {
	width: $size;
	aspect-ratio: 1;
}

@mixin visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin check-mark {
	width: 16px;
	height: 8px;
	border-left: 1px solid var(--primary-500);
	border-bottom: 1px solid var(--primary-500);
	rotate: -45deg;
    transition-duration: 0.2s;
	flex-shrink: 0;
}

@mixin hover-effect {
    @include abs-center;
    content: '';
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    transition-duration: 0.2s;
}

@mixin user-select-off {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

@mixin underline-bottom {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	height: 2px;
	background-color: currentColor;
	width: 0%;
	transition-duration: inherit;
}

@mixin underline-right {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	translate: 0 -50%;
	height: 0%;
	background-color: currentColor;
	width: 2px;
	transition-duration: inherit;
}
