:root {
	--layout-width: 1440px;
	--container-width: 1240px;
	--container-padding-x: 20px;
	--font-family: 'sans-serif';

	--color-opacity: rgba(0, 0, 0, 0.05);
	--color-error: rgb(255, 126, 126);

	--box-shadow: 0 0 5px 1px var(--color-opacity);
	--box-shadow-small: 0 0 2px 1px currentColor;
	--box-shadow-small-inset: 0 0 2px inset currentColor;

	--border-radius-middle: 15px;
	--border-radius-small: 7px;

	--transition-duration: 0.2s;
	--transition-duration-middle: 0.4s;

	--opacity-small: 0.8;
	--opacity-medium: 0.5;
	--opacity-big: 0.2;

	--border: 2px solid currentColor;

	--font-size-label: 1em;

	--button-height: 50px;
	--menu-item-height: 50px;

	--height-small: 16px;
	--height-medium: 25px;
	--height-large: 30px;

	--button-height-small: 30px;
	--button-height-medium: 40px;
	--button-height-large: 50px;

    --padding-small-m: 5px;
	--padding-small: 10px;
	--padding-medium: 15px;
	--padding-large: 20px;
	--section-padding: 30px;

	--gap-small: 5px;
	--gap-medium: 8px;
	--gap-large: 11px;

	--icon-size: 20px;

	--z-index-drop-down-menu: 1000;
}