:root {
	--font-family: 'sans-serif';

	--color-opacity: rgba(0, 0, 0, 0.05);
	--color-shadow: rgba(0, 0, 0, 0.05);
	--color-focus: rgb(63, 26, 5);
	--color-error: rgb(207, 77, 17);

	--box-shadow-focus: 0 0.5px 5px var(--color-focus);
	--box-shadow-primary: 0 0.5px 1px rgb(202, 131, 25);
	--box-shadow-secondary: 0 0.5px 1px rgb(63, 26, 5);
	--box-shadow-error: 0 0.5px 1px var(--color-error);
	--box-shadow-transparent: 0 0.5px 1px transparent;
	
	--border-radius-small: 4px;
	--border-radius-medium: 7px;
	--border-radius-middle: 15px;

	--opacity-small: 0.8;
	--opacity-medium: 0.5;
	--opacity-big: 0.2;

	--border: 2px solid;

	--font-size-small: 14px;
	--font-size-medium: 18px;
	--font-size-large: 20px;

	--header-height: 50px;

	--button-height-small-s: 20px;
	--button-height-small-m: 25px;
	--button-height-small-l: 35px;
	--button-height-medium: 45px;
	--button-height-large: 55px;

    --padding-small-s: 5px;
	--padding-small-l: 10px;
	--padding-medium: 15px;
	--padding-large: 20px;
	
	--section-padding: 50px;

	--gap-small-s: 10px;
	--gap-small-m: 12.5px;
	--gap-small-l: 17.5px;
	--gap-medium-s: 18px;
	--gap-medium-m: 25px;
	--gap-medium-l: 35px;
	//--gap-large: 25px;

	--z-index-drop-down-menu: 2500;
	--z-index-close: -1000;
	--z-index-backdrop-open-small: 500;
	--z-index-backdrop-open-large: 1500;
	--z-index-tooltip: 2000;
	--z-index-aside-menu: 1900;
	--z-index-menu: 2000;
}