@import 'normalize', 'variables','themes/dark', 'themes/light','mixins', 'globals',  'media', 'utils';

.app {
    background-color: var(--color-light); 
    height: 100vh;                                                               
}

.content {
    display: flex;
}