.title {
    padding-block: var(--padding-small-s);
    padding-inline: var(--padding-medium);
    background-color: var(--color-secondary);
    display: inline-flex;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-primary);
}