.content {
    width: 200px;
    text-wrap: wrap;
}

.test {
    display: flex;
    gap: 10px;
    align-items: center;
}

.alerts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.avatar {
    background-color: var(--secondary-300);
}