.icon {
  display: inline-flex;
  aspect-ratio: 1;
  flex-shrink: 0;
  height: 1em;
}

// Variants
.icon {
  &.filled {
    &.primary {
      svg {
        fill: var(--primary-500);
        stroke: var(--primary-500);
      }
    }
    &.secondary {
      svg {
        fill: var(--secondary-600);
        stroke: var(--secondary-600);
      }
    }
    &.light {
      svg {
        fill: var(--light);
        stroke: var(--light);
      }
    }
    &.red {
      svg {
        fill: var(--red-500);
        stroke: var(--red-500);
      }
    }
  }
  &.outlined {
    &.primary {
      svg {
        stroke: var(--primary-500);
      }
    }
    &.secondary {
      svg {
        stroke: var(--secondary-600);
      }
    }
    &.light {
      svg {
        stroke: var(--light);
      }
    }
    &.red {
      svg {
        stroke: var(--red-500);
      }
    }
  }
}

// Sizes
.icon {
  &.small-s {
    font-size: var(--font-size-small-s);
  }
  &.small-m {
    font-size: var(--font-size-small-m);
  }
  &.small-l {
    font-size: var(--font-size-small-l);
  }
  &.medium {
    font-size: var(--font-size-medium);
  }
  &.large {
    font-size: var(--font-size-large);
  }
}
