.icon {
  display: inline-flex;
  aspect-ratio: 1;
  flex-shrink: 0;
  height: 1em;
  --fill: currentColor;
  --stroke: currentColor;
    svg {
      fill: var(--fill);
      stroke: var(--stroke);
    }
}

// Variants
.icon {
  &.filled {
    &.primary {
        --fill: var(--primary-500);
        --stroke: var(--primary-500);
    }
    &.secondary {
        --fill: var(--secondary-300);
        --stroke: var(--secondary-300);
    }
    &.light {
        --fill: var(--light);
        --stroke: var(--light);
    }
    &.dark {
        --fill: var(--secondary-500);
        --stroke: var(--secondary-500);
    }
    &.red {
        --fill: var(--red-500);
        --stroke: var(--red-500);
    }
  }
  &.outlined {
    --fill: none;
    &.primary {
        --stroke: var(--primary-500);
    }
    &.secondary {
        --stroke: var(--secondary-300);
    }
    &.light {
        --stroke: var(--light);
    }
    &.dark {
        --stroke: var(--secondary-500);
    }
    &.red {
        --stroke: var(--red-500);
    }
  }
}

// Sizes
.icon {
  &.small-s {
    font-size: var(--font-size-small-s);
  }
  &.small-m {
    font-size: var(--font-size-small-m);
  }
  &.small-l {
    font-size: var(--font-size-small-l);
  }
  &.medium {
    font-size: var(--font-size-medium);
  }
  &.large {
    font-size: var(--font-size-large);
  }
}
