.menu {
    width: 200px;
    padding: var(--gap-small-s);
    li:first-child {
        border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    };
    li:last-child {
        border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    }
}

