@import "@/app/styles/media", "@/app/styles/mixins";

.star {
  --width: var(----button-height-small-m);
  width: calc(var(--width) + var(--padding-small-s));
  height: var(--width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include hover {
    .icon {
      transform: scale(1.3);
    }
  }
}

.icon {
  position: relative;
  height: var(--width);
  aspect-ratio: 1;
  background-color: var(--color-secondary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  transition: 0.1s;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-primary);
    z-index: 100;
  }
}

// Sizes
.star {
  &.small {
    --width: var(--button-height-small-s);
  }
  &.medium {
    --width: var(--button-height-small-m);
  }
  &.large {
    --width: var(--button-height-small-l);
  }
}

// Mods
.star {
  &.quarter-filled {
    .icon:before {
      width: 25%;
    }
  }

  &.half-filled {
    .icon:before {
      width: 50%;
    }
  }

  &.three-quarters-filled {
    .icon:before {
      width: 75%;
    }
  }

  &.filled {
    .icon:before {
      width: 100%;
    }
  }

  &.readonly {
    pointer-events: none;
  }

  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-big);
    .icon {
      background-color: var(--color-primary);
    }
  }
}
