@import "@/app/styles/media", "@/app/styles/mixins", "@/app/styles/animations";

.star {
  --width: var(--button-height-small-m);
  width: var(--width);
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.1s;
}

.label {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.input {
  @include visually-hidden;
  &:focus-visible + .focus-border{
      opacity: 1;
      animation: ripple 1s infinite;
  }
}

.focus-border {
  position: absolute;
  width: 130%;
  height: 130%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: var(--border-radius-small);
  background-color: var(--secondary-opacity);
  border: 1px solid var(--secondary-300);
  opacity: 0;
  pointer-events: none;
}

.icon {
  position: absolute;
  pointer-events: none;
  left: 50%;
  translate: -50%;
  top: 5%;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-200);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--yellow-500);
    z-index: 100;
  }
}

// Sizes
.star {
  &.small {
    --width: var(--button-height-small-s);
  }
  &.large {
    --width: var(--button-height-small-l);
  }
}

// Mods
.star {
  &.quarter-filled {
    .icon:before {
      width: 25%;
    }
  }

  &.half-filled {
    .icon:before {
      width: 50%;
    }
  }

  &.three-quarters-filled {
    .icon:before {
      width: 75%;
    }
  }

  &.full-filled {
    .icon:before {
      width: 100%;
    }
  }

  &:not(.readonly) {
    @include hover {

        transform: scale(1.3);
        z-index: 1;
      
    }
  }
  &.readonly {
    .label {
      cursor: default;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}
