@import "@/app/styles/media", "@/app/styles/mixins";

.accordion {
  --color: var(--secondary-600);
  --bgColor: transparent;
  --hoverBgColor: var(--secondary-opacity);
  overflow: hidden;
  width: 100%;
  transition-duration: var(--transition-duration);
  color: var(--color);
  &.border-radius {
    border-radius: var(--border-radius-small);
  }
  &:first-child:not(.border-radius) {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  }
  &:last-child:not(.border-radius) {
    border-radius: 0 0 var(--border-radius-small) var(----border-radius-small);
  }
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--gap-small-s);
  padding: var(--padding-medium);
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: var(--bgColor);
  @include hover {
    background-color: var(--hoverBgColor);
  }
  &:focus-visible {
    background-color: var(--hoverBgColor);
  }
  &:before {
    @include underline-bottom;
  }
}

.title {
  background-color: transparent;
}

.body {
  height: 0px;
  overflow-y: hidden;
  padding-inline: var(--padding-medium);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
}

.content {
  opacity: 0;
  transition-duration: 1s;
  height: 100%;
}

.opening-icon {
  svg {
    fill: var(--color);
    stroke: var(--color);
    transform: rotate(180deg);
    transition-duration: 0.2s;
  }
}

// Variants
.accordion {
  &.filled{
    .header {
      --bgColor: var(--secondary-200);
    }
  }
  &.outlined {
    border: 1px solid var(--secondary-300);

  }
  &.clear {
    --hoverBgColor: var(--primary-opacity);
  }
}

// Open
.accordion {
  &.open {
    .content {
      opacity: 1;
    }
    .body {
      padding-block: var(--padding-medium);
    }
    .opening-icon {
      svg {
        rotate: 90deg;
      }
    }
    .header {
      &:before {
        width: 100%;
      }
    }
  }
}
// Mods
.accordion {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}