@import "@/app/styles/media", "@/app/styles/mixins";

.accordion {
  border-radius: var(--border-radius-small);
  overflow: hidden;

  // Accordion Theme
  &.primary {
    box-shadow: var(--box-shadow-small);
    background-color: var(--color-light);
  }

  &.clear {
    background-color: transparent;
  }

  // Open
  &.open {
    .content {
      opacity: 1;
    }
    .body {
      padding-block: var(--padding-medium);
    }
    .opening-icon {
      rotate: 90deg;
    }
    .header {
      &:before {
        width: 100%;
      }
    }
  }
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  padding: var(--padding-medium);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  @include hover {
    background-color: var(--color-secondary);
  }

  &:before {
    @include underline-bottom;
  }
}

.body {
  height: 0px;
  overflow-y: hidden;
  padding-inline: var(--padding-medium);
  transition-duration: var(--transition-duration);
}

.content {
  opacity: 0;
  transition-duration: 1s;
}

.opening-icon {
  display: flex;
  transition-duration: var(--transition-duration);
  width: var(--icon-size);
  aspect-ratio: 1;
  fill: currentColor;                             
}
