@import "@/app/styles/media", "@/app/styles/mixins";

.accordion {
  overflow: hidden;
  width: 100%;
  transition-duration: var(--transition-duration);
  &.border-radius {
    border-radius: var(--border-radius-medium);
  }
  &:first-child:not(.border-radius) {
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  }
  &:last-child:not(.border-radius) {
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium) ;
  }
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--gap-small-s);
  padding: var(--padding-medium);
  cursor: pointer;
  transition-duration: 0.2s;
  &:before {
    @include underline-bottom;
  }
}

.title {
  background-color: transparent;
}

.body {
  height: 0px;
  overflow-y: hidden;
  padding-inline: var(--padding-medium);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
}

.content {
  opacity: 0;
  transition-duration: 1s;
  height: 100%;
}

// Variants
.accordion {
  &.filled{
    .header {
      background-color: var(--primary-200);
      @include hover {
        background-color: var(--primary-300);
      }
      &:focus-visible {
        background-color: var(--primary-300);
      }
    }
  }
  &.outlined {
    background-color: transparent;
    border: var(--border-secondary);
    .header {
      @include hover {
        background-color: var(--primary-opacity);
      }
    }
  }
  &.clear {
    background-color: transparent;
    .header {
      @include hover {
        background-color: var(--primary-opacity);
      }
      &:focus-visible {
        background-color: var(--primary-opacity);
      }
    }
  }
}

// Open
.accordion {
  &.open {
    .content {
      opacity: 1;
    }
    .body {
      padding-block: var(--padding-medium);
    }
    .opening-icon {
      svg {
        rotate: 90deg;
      }
    }
    .header {
      &:before {
        width: 100%;
      }
    }
  }
}
// Mods
.accordion {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}