@import "@/app/styles/media", "@/app/styles/mixins";

.link {
  --color: var(--secondary-600);
  --activeColor: var(--primary-500);
  --bgColor: transparent;
  --hoverBgColor: var(--primary-opacity);
  --focusColor: var(--primary-500);
  --height: var(--button-height-medium);
  --paddingInline: var(--padding-medium);
  position: relative;
  display: flex;
  align-items: center;
  column-gap: var(--paddingInline);
  text-wrap: nowrap;
  @include user-select-off;
  color: var(--color);
  transition-duration: 0.2s;
  width: 100%;
  height: var(--height);
  padding-inline: var(--paddingInline);
  border-radius: var(--border-radius-small);
  background-color: var(--bgColor);

  &.is-button {
    border: none;
    cursor: pointer;
  }
}

.icon {
  display: flex;
  svg {
    transition-duration: 0.2s;
    stroke: var(--color);
    fill: var(--color);
  }
}

// Colors
.link {
  &.primary {
    
  }
}

// Sizes
.link {
  &.medium {
    --height: var(--button-height-medium);
  }
}

// Variants
.link {
  &.standart {
    @include hover {
      background-color: var(--hoverBgColor);
    }
  }
  &.text {
    padding-inline: 0px;
    height: auto;
    --color: var(--primary-500);
    @include hover {
      --color: var(--primary-200);
    }
  }
}

// Mods
.link {
  &.hidden-label {
    justify-content: center;
    padding-inline: 0px;
    .label {
      @include visually-hidden;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &:focus-visible {
    box-shadow: 0 0 5px 1px var(--focusColor);
  }
  &.active {
    --color: var(--activeColor);
  }
}
