@import "@/app/styles/media", "@/app/styles/mixins";

.link {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-medium);
  column-gap: var(--gap-small-s);
  text-wrap: nowrap;
  @include user-select-off;
}

.icon {
  height: 1em;
  aspect-ratio: 1;
  display: flex;
  svg {
    stroke: var(--color-primary);
    fill: var(--color-primary);
  }
}

// Directions
.link {
  &.horizontal.clear,
  &.horizontal.classic {
    &:before {
      @include underline-bottom;
      height: 2px;
    }
    &.active {
      &:before {
        width: 100%;
        background-color: var(--color-primary);
      }
    }
  }

  &.vertical.clear,
  &.vertical.classic {
    &:before {
      @include underline-right;
      width: 2px;
    }
    &.active {
      border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
      &:before {
        height: 100%;
        background-color: var(--color-primary);
      }
    }
  }
}

// Variants
.link {
  &.primary {
    color: var(--color-light);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-secondary);
    @include hover {
      background-color: var(--color-primary-light);
    }
    .icon {
      svg {
        stroke: var(--color-light);
        fill: var(--color-light);
      }
    }
  }

  &.transparent {
    box-shadow: var(--box-shadow-primary);
    @include hover {
      background-color: var(--theme-color-opacity);
    }
  }

  &.clear {
    box-shadow: var(--box-shadow-transparent);
    @include hover {
      background-color: var(--theme-color-opacity);
    }
  }

  &.classic {
    box-shadow: var(--box-shadow-transparent);
    @include hover {
      color: var(--color-primary);
    }
  }

  &.text {
    color: var(--color-primary);
    @include hover {
      text-decoration: underline;
    }
  }
}

// Sizes
.link {
  &.small:not(.minimalism-square, .minimalism-round, .text) {
    padding-inline: var(--padding-small-l);
    height: var(--button-height-small-l);
  }
  &.small.minimalism-square,
  &.small.minimalism-round {
    height: var(--button-height-small-l);
  }

  &.medium:not(.minimalism-square, .minimalism-round, .text) {
    padding-inline: var(--padding-medium);
    height: var(--button-height-medium);
  }
  &.medium.minimalism-square,
  &.medium.minimalism-round {
    height: var(--button-height-medium);
  }

  &.large:not(.minimalism-square, .minimalism-round, .text) {
    padding-inline: var(--padding-large);
    height: var(--button-height-large);
  }
  &.large.minimalism-square,
  &.large.minimalism-round {
    height: var(--button-height-large);
  }
}

// Minimalism variants
.link {
  &.minimalism-round,
  &.minimalism-square {
    justify-content: center;
    aspect-ratio: 1;
    .label {
      @include visually-hidden;
    }
  }
  &.minimalism-round {
    border-radius: 50%; 
  }
}

// Mods
.link {
  &.hidden-label {
    justify-content: center;
    .label {
      @include visually-hidden;
    }
  }

  &:focus-visible {
    box-shadow: var(--box-shadow-focus);
  }
  &.active {
    color: var(--color-primary);
  }
}