@import '@/app/styles/media', '@/app/styles/mixins';

.wrapper {
    display: flex;
    align-items: center;
    align-self: start;
    column-gap: var(--gap);
    cursor: pointer;

    @include user-select-off;
    @include hover {
        .hover {
            background-color: var(--theme-color-opacity);
        }
    }

    &.checked {
        .checkbox {
            background-color: var(--theme-color-primary);
        }
    }

    &.small {
        .checkbox {
            height: var(--height-small);
        }
    }

    &.middle {
        .checkbox {
            height: var(--height);
        }
    }

    &.large {
        .checkbox {
            height: var(--height-large);
        }
    }
}

.checkbox {
    position: relative;
    aspect-ratio: 1;
    background-color: var(--theme-color-light-alt);
    border-radius: 2px;
    box-shadow: var(--box-shadow-small);
    transition-duration: var(--transition-duration);

    &:before {
        position: absolute;
        content: '';
        width: 70%;
        height: 40%;
        border-left: 2px solid var(--theme-color-light-alt);
        border-bottom: 2px solid var(--theme-color-light-alt);
        rotate: -45deg;
        left: 50%;
        translate: -50%;
        bottom: 40%;
    }
}

.hover {
    @include hover-effect;
}