@import "@/app/styles/media", "@/app/styles/mixins";

.wrapper {
  --height: var(--button-height-small-l);
  --bgColor: var(--secondary-200);
  --checkedBgColor: var(--primary-500);
  --hoverBgColor: var(--secondary-opacity);
  height: var(--height);
  display: flex;
  align-items: center;
  cursor: pointer;
  @include user-select-off;
  @include hover {
    .checkbox-wrapper {
      background-color: var(--hoverBgColor);
    }
  }
  &:focus-visible {
    .checkbox-wrapper {
      background-color: var(--hoverBgColor);
    }
  }
}

.checkbox-wrapper {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.checkbox {
  height: 50%;
  aspect-ratio: 1;
  border-radius: var(--border-radius-small);
  transition-duration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}

.icon {
  display: flex;
  transition-duration: inherit;
  opacity: 0;
}

.checked-icon {
  position: absolute;
  opacity: 0;
  transition-duration: inherit;
}

.label {
  &:after {
    content: "*";
    color: var(--red-500);
    display: none;
  }
}

// Colors
.wrapper {
  &.primary {
    &.outlined,
    &.clear {
      --hoverBgColor: var(--primary-opacity);
      .ripple {
        color: var(--primary-500);
      }
    }
  }
  &.red {
    --hoverBgColor: var(--red-opacity);
    --bgColor: var(--red-100);
    --checkedBgColor: var(--red-500);
    .ripple {
        color: var(--red-500);
    }
  }
}

// Variants
.wrapper {
  &.outlined {
    --bgColor: transparent;
    .checkbox {
      box-shadow: 0 0 0 1px currentColor inset;
    }
  }
  &.clear {
    --bgColor: transparent;
    .icon {
      opacity: 1;
    }
  }
}

// Sizes
.wrapper {
  &.small {
    --height: var(--button-height-small-l);
    .icon {
      font-size: var(--font-size-small-l);
    }
  }

  &.medium {
    height: var(--button-height-medium);
    .icon {
      font-size: var(--font-size-medium);
    }
  }
}

// Mods
.wrapper {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &.required {
    .label {
      &:after {
        display: inline;
      }
    }
  }
  &.checked:not(.clear) {
    .checkbox {
      background-color: var(--checkedBgColor);
      box-shadow: 0 0 0 1px var(--checkedBgColor) inset;
    }
    .icon {
      opacity: 1;
    }
  }
  &.checked.clear {
    .checked-icon {
      opacity: 1;
    }
  }
  &.hidden-label {
    .label {
      @include visually-hidden;
    }
  }
}
