.dropdown {
  position: absolute;
  z-index: var(--z-index-drop-down-menu);
  opacity: 0;
  pointer-events: none;
  color: var(--primary-500);
  overflow: hidden;
  border-radius: var(--border-radius-medium);
  background-color: var(--light);
  border: var(--border-secondary);
  
  &.visible {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.2s;
  }
}

// Vertical opening direction
.dropdown {
  &.row-up {
    bottom: 100%;
  }
  &.row-down {
    top: 100%;
  }
  &.column-up {
    bottom: 0;
  }
  &.column-down {
    top: 0;
  }
}

// Horizontal opening direction
.dropdown {
  &.row-left {
    right: 0;
  }
  &.row-right {
    left: 0;
  }
  &.column-left {
    right: 100%;
  }
  &.column-right {
    left: 100%;
  }
}