@import '@/app/styles/mixins';

.radios {
    &.hidden-title {
        .title {
            @include visually-hidden;
        }
    }
}

.title {
    padding: 0;
    line-height: 0.7;
    padding-bottom: var(--gap-medium-s);
}





