@import '@/app/styles/mixins';

.radios {
    &.hidden-title {
        .title {
            @include visually-hidden;
        }
    }
}

.title {
    padding: 0;
    line-height: 1;
    padding-bottom: var(--gap-small-s);
}





