@import '@/app/styles/media';

.tooltip-wrapper {
    --arrowWidth: 15px;
    --arrowHeight: 20px;
    --padding: 15px;
    --bgColor: var(--secondary-200);
    --color: var(--dark-900);
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    animation: mounting 0.2s forwards;
    &.unmounting {
        animation: unmounting 0.2s forwards;
    }
}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: var(--border-radius-small);
    background-color: var(--bgColor);
    color: var(--color);
    font-size: var(--font-size-small);
    text-wrap: nowrap;
    &:before {
        content: '';
        position: absolute;
        height: var(--arrowHeight);
        width: var(--arrowWidth);
        background-color: var(--bgColor);
        clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    }
}

// Position
.tooltip-wrapper {
    &.top {
        padding-bottom: var(--padding);
        .tooltip:before {
            left: 50%;
            translate: -50%;
            top: calc(100% - (var(--arrowHeight) / 2) - 1px);
        }
    }
    &.right {
        align-items: center;
        padding-left: var(--padding);
        .tooltip:before {
            right: calc(100% - (var(--arrowWidth) / 2) - 1px);
            top: 50%;
            translate: 0 -50%;
            rotate: 90deg;
        }
    }
    &.left {
        align-items: center;
        padding-right: var(--padding);
        .tooltip:before {
            left: calc(100% - (var(--arrowWidth) / 2) - 1px);
            top: 50%;
            translate: 0 -50%;
            rotate: -90deg;
        }
    }
    &.bottom {
        padding-top: var(--padding);
        .tooltip:before {
            left: 50%;
            translate: -50%;
            bottom: calc(100% - (var(--arrowHeight) / 2) - 1px);
            transform: rotate(180deg);
        }
    }
}

@keyframes mounting {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes unmounting {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}
