.container {
    height: 45px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    translate: -50%;
    opacity: 0;
    pointer-events: none;
    transition-duration: var(--transition-duration);
    z-index: var(--z-index-tooltip);

    &.visible {
        opacity: 1;
    }
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    padding-inline: var(--padding-small);
    border-radius: var(--border-radius-small);
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 14px;

    &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 15px;
        left: 50%;
        translate: -50%;
        top:44%;
        background-color: var(--color-dark);
        clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    }
}