.menu-item {
    color: var(--secondary-600);
    position: relative;
    display: flex;
    align-items: center;
    column-gap: var(--padding-medium);
    width: 100%;
    min-height: var(--button-height-medium);
    padding-inline: var(--padding-medium);
    padding-block: var(--padding-small-s);
    cursor: pointer;
    text-align: start;
    &.selected {
        .bg {
            background-color: var(--primary-200);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }
    &.disabled {
        pointer-events: none;
        opacity: var(--opacity-big);
    }
    &.readonly {
        pointer-events: none;
    }
}

.check-mark {
    opacity: 1;
    margin-left: auto;
}

.end-icon {
    display: flex;
    margin-left: auto;
}
