@import "@/app/styles/mixins", "@/app/styles/media";

.wrapper {
  display: flex;
  align-items: center;
  align-self: start;
  column-gap: var(--gap-small-s);
  cursor: pointer;
  --toggleHeight: var(--button-height-small-m);
  --width: calc(var(--toggleHeight) * 1.8);
  --translateX: calc(var(--width) - var(--toggleHeight));

  @include hover {
    .hover {
      background-color: var(--primary-opacity);
    }
  }
  &:focus-visible {
    .hover {
      background-color: var(--primary-opacity);
    }
  }
  @include user-select-off;
}

.toggle-switch {
  height: calc(var(--toggleHeight) / 1.8);
  width: var(--width);
  background-color: var(--primary-300);
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
}

.switch {
  position: relative;
  height: var(--toggleHeight);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-200);
  transition-duration: inherit;
}

.label {
    &:after {
        content: '*';
        color: var(--red-500);
        display: none;
    }
}

.hover {
  @include hover-effect;
}

// Mods
.wrapper {
  &.checked {
    .toggle-switch {
      background-color: var(--primary-400);
    }
    .switch {
      transform: translateX(var(--translateX));
      background-color: var(--primary-500);
      box-shadow: var(--box-shadow-secondary);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }

  &.required {
    .label {
        &:after {
            display: inline;
        }
    }
  }
}

// Sizes
.wrapper {
  &.small {
    column-gap: var(--gap-small-s);
    --toggleHeight: var(--button-height-small-s);
  }
}