@import "@/app/styles/mixins", "@/app/styles/media";

.wrapper {
  --height: var(--button-height-small-l);
  --width: var(--height);
  --translateX: calc((var(--width) - var(--height) / 2) / 2);
  --trackColor: var(--secondary-200);
  --trackColorActive: var(--primary-200);
  --switchColor: var(--secondary-300);
  --switchColorActive: var(--primary-500);
  --hoverBgColor: var(--secondary-opacity);
  display: flex;
  align-items: center;
  cursor: pointer;
  height: var(--height);
  @include user-select-off;
  @include hover {
    .switch-wrapper {
      background-color: var(--hoverBgColor);
    }
  }
  &:focus-visible {
    .switch-wrapper {
      background-color: var(--hoverBgColor);
    }
  }
}

.track {
  height: calc(var(--height) / 3);
  width: var(--width);
  background-color: var(--trackColor);
  border-radius: var(--border-radius-large);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-wrapper {
  transform: translateX(calc(var(--translateX) * -1));
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  height: 50%;
  aspect-ratio: 1;
  border-radius: inherit;
  background-color: var(--switchColor);
  transition-duration: inherit;
}

.label {
    &:after {
        content: '*';
        color: var(--red-500);
        display: none;
    }
}

// Mods
.wrapper {
  &.checked {
    .track {
      background-color: var(--trackColorActive);
    }
    .switch-wrapper {
      transform: translateX(var(--translateX));
    }
    .switch {
      background-color: var(--switchColorActive);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }

  &.required {
    .label {
        &:after {
            display: inline;
        }
    }
  }
}

// Sizes
.wrapper {
  &.small {
    --height: var(--button-height-small-l);
    column-gap: var(--padding-small-s);
    padding-left: var(--padding-small-s);
  }
  &.medium {
    --height: var(--button-height-medium);
    column-gap: var(--padding-small-s);
    padding-left: var(--padding-small-l);
  }
}