@import "@/app/styles/mixins", "@/app/styles/media", "@/app/styles/animations";

.switch {
  --height: var(--button-height-medium);
  --width: var(--height);
  --translateX: calc((var(--width) - var(--height) / 2) / 2);
  --trackColor: var(--secondary-200);
  --trackColorChecked: var(--primary-400);
  --thumbColor: var(--secondary-300);
  --thumbColorChecked: var(--primary-500);
  --thumbColorHover: var(--secondary-opacity);
  --thumbColorFocus: var(--primary-opacity);
  --color: var(--secondary-500);
  --marginInline: var(--padding-small-m);
  cursor: pointer;
  margin-inline: var(--marginInline);
  height: var(--height);
  display: flex;
  align-items: center;
  @include hover {
    .thumb {
      background-color: var(--thumbColorHover);
    }
  }
}

.track {
  height: 30%;
  width: var(--width);
  background-color: var(--trackColor);
  border-radius: var(--border-radius-large);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb {
  transform: translateX(calc(var(--translateX) * -1));
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color);
  &:before {
    content: '';
    height: 50%;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--thumbColor);
    transition-duration: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
}

.input {
  @include visually-hidden;
  &:focus-visible + .track {
    .thumb:after {
      background-color: var(--thumbColorFocus);
      animation: ripple 1s infinite;
    }
  }
}

// Mods
.switch {
  &.checked {
    --trackColor: var(--trackColorChecked);
    --thumbColor: var(--thumbColorChecked);
    .thumb {
      transform: translateX(var(--translateX));
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}

// Sizes
.switch {
  &.small {
    --height: var(--button-height-small-l);
    --marginInline: var(--padding-small-s);
  }
}