.dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-500);
  overflow: hidden;
  border-radius: var(--border-radius-small);
  background-color: var(--light);
  box-shadow: var(--box-shadow-menu);
  &.visible {
    pointer-events: all;
    opacity: 1;
  }
}

.dropdown:not(.no-transition) {
  transition:
    opacity 0.3s,
    z-index 999s;
  &.visible {
    transition:
      opacity 0.3s,
  }
}

// Vertical opening direction
.dropdown {
  &.column-up {
    bottom: 100%;
  }
  &.column-down {
    top: 100%;
  }
  &.row-up {
    bottom: 0;
  }
  &.row-down {
    top: 0;
  }
}
// Horizontal opening direction
.dropdown {
  &.column-left {
    right: 0;
  }
  &.column-right {
    left: 0;
  }
  &.row-left {
    right: 100%;
  }
  &.row-right {
    left: 100%;
  }
}
