.menu {
    width: 100%;
}

.title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    justify-content: start;
    text-wrap: nowrap;
}

.icon {
    width: 20px;
}
