.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-small-s);
    align-items: start;
    min-width: 800px;

    &.vertical {
        .components {
            flex-direction: column;
        }
    }
}

.components {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-medium-s);
    padding-block: var(--section-padding);
    padding-inline: var(--padding-medium);
    box-shadow: 0 0 0 1px var(--primary-200);
    border-radius: var(--border-radius-medium);
}