.wrapper {
    display: inline-flex;
    flex-direction: column;
    row-gap: var(--gap-medium);
    align-items: start;

    &.vertical {
        .components {
            flex-direction: column;
            justify-content: center;
        }
    }
    &.horizontal {
        .components {
            align-items: center;
        }
    }
    &.centering {
        .components {
            align-items: center;
            justify-content: center;
        }
    }
}

.components {
    display: flex;
    gap: var(--gap-30);
    padding: var(--padding-medium);
    border: var(--border) var(--color-secondary);
    border-radius: var(--border-radius-small);
}