.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-medium);
    align-items: start;
    min-width: 800px;

    &.vertical {
        .components {
            flex-direction: column;
        }
    }
}

.components {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-small);
    padding-block: var(--section-padding);
    padding-inline: var(--padding-medium);
    border: var(--border) var(--color-secondary);
    border-radius: var(--border-radius-small);
}