.alert {
    --bgColor: ;
    --color: ;
    --svgColor: var(--bgColor);
    background-color: var(--bgColor);
    color: var(--color);
    display: flex;
    align-items: center;
    padding-inline: 15px;
    padding-block: 5px;
    gap: 15px;
    &.have-action {
        .content {
            margin-right: -7px;
        }
    }
    svg {
        color: var(--svgColor);
    }
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
    font-weight: bold;
}

.actions {
     display: flex;
     align-items: center;
     margin-left: auto;
     margin-right: -7px;
}

// Border radius
.alert {
    &.small {
        border-radius: var(--border-radius-small);
    }
}

// Severity
.alert {
    &.success {
        --bgColor: var(--green-100);
        --color: var(--green-600);
        --svgColor: var(--green-500);
    }
    &.info {
        --bgColor: var(--primary-200);
        --color: var(--primary-600);
        --svgColor: var(--primary-500);
    }
    &.warning {
        --bgColor: var(--orange-200);
        --color: var(--orange-600);
        --svgColor: var(--orange-500);
    }
    &.error {
        --bgColor: var(--red-200);
        --color: var(--red-600);
        --svgColor: var(--red-500);
    }
}

// Variants
.alert {
    &.outlined {
        border: 1px solid var(--svgColor);
        background-color: transparent;
    }
    &.clear {
        background-color: transparent;
    }
}

