.menu {
    width: 100%;
}

.content {
    display: flex;
    column-gap: var(--gap-small-s);
}

.title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap-small-s);
    align-items: center;
    justify-content: start;
    text-wrap: nowrap;
}

.icon {
    width: 20px;
    aspect-ratio: 1;
}