@import "@/app/styles/mixins", "@/app/styles/media", "@/app/styles/animations";

.wrapper {
  --paddingInline: var(--padding-medium);
  --paddingBlock: var(--gap-small-s);
  --paddingTop: var(--padding-small-l);
  --paddingBottom: var(--padding-small-l);
  --height: var(--button-height-medium);
  --bgColor: var(--light);
  --hoverBgColor: var(--light);
  --borderColor: var(--secondary-300);
  --labelColor: var(--secondary-500);
  --autofillBgColor: var(--bgColor);
  --boxShadowFocus: var(--box-shadow-focus-primary);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small-s);
  width: 100%;
}

.field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small-s);
}

.content {
  width: 100%;
}

.field {
  position: relative;
  width: 100%;
  outline: none;
  transition-duration: 0.2s;
  min-height: var(--height);
  cursor: text;
  display: flex;
  align-items: center;
  background-color: var(--bgColor);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  @include hover {
    --autofillBgColor: var(--hoverBgColor);
    background-color: var(--hoverBgColor);
    --borderColor: var(--primary-500);
    .clear-field-button {
      opacity: 1;
    }
    .input:focus {
      --autofillBgColor: var(--bgColor);
    }
  }
}

.input {
  width: 100%;
  height: calc(var(--height) - 4px);
  margin-left: 4px;
  padding-left: calc(var(--paddingInline) - 4px);
  padding-right: calc(var(--paddingInline) - 7.5px);
  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-small);
  color: inherit;
  &::placeholder {
    color: var(--secondary-500);
  }
}

.label {
  transition-duration: 0.2s;
  pointer-events: none;
  z-index: 1;
  color: var(--labelColor);
  &:after {
    content: "*";
    color: var(--red-500);
    display: none;
  }
}

.buttons {
  padding-right: calc(var(--paddingInline) - 7.5px);
  display: flex;
  align-items: center;
}

.search-button {
  height: var(--height);
}

.clear-field-button {
  opacity: 0;
}

.error-message {
  font-size: var(--font-size-small-l);
  color: var(--red-500);
  padding-left: var(--paddingInline);
  max-width: 100%;
  animation: appearance-right 0.5s;
}

// Variants
.wrapper {
  &.outlined {
    .field {
      border: 1px solid var(--borderColor);
    }
  }
  &.filled {
    --hoverBgColor: var(--secondary-300);
    --bgColor: var(--secondary-200);
    .field {
      &:before {
        @include underline-bottom;
        width: 100%;
        background-color: var(--borderColor);
        z-index: 1;
      }
    }
  }
}

// Label Variants
.wrapper {
  &.visible {
    .label {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      margin-left: var(--paddingInline);
    }
    .input::placeholder {
      opacity: 0;
    }
    &.dirty,
    &.focused {
      .label {
        font-size: var(--font-size-small-l);
      }
    }
    &.focused:not(.dirty) {
      .input::placeholder {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }
  }
  &.visible.outlined {
    .label:before {
        z-index: -1;
        content: '';
        position: absolute;
        height: 100%;
        width: 120%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--light);
    }
    &.dirty,
    &.focused {
      .label {
        top: 0;
      }
    }
  }
  &.visible.filled {
    --paddingTop: calc((var(--height) - var(--button-height-small-m)) - var(--paddingBlock) );
    --paddingBottom: var(--paddingBlock);
    &.dirty,
    &.focused {
      .label {
        top: var(--paddingBottom);
        translate: 0;
      }
    }
    .start-adornment {
      padding-top: var(--paddingTop);
      padding-bottom: var(--paddingBottom);
    }
  }

  &.hidden {
    .label {
      @include visually-hidden;
    }
  }
}

// Sizes
.wrapper {
  &.small {
    --height: var(--input-height-small);
    --paddingBottom: 0px;
    --paddingTop: 0px;
  }
  &.medium {
    --height: var(--input-height-medium);
  }
  &.large {
    --height: var(--input-height-large);
    --paddingBlock: 8px;
  }
}

// Mods
.wrapper {
  &.required {
    .label:after {
        display: inline;
    }
  }
  &.errored {
    --borderColor: var(--red-500);
    --labelColor: var(--red-500);
    .field-wrapper {
      animation: snaking 0.5s;
    }
  }
  &.multi-autocomplete,
  &.multiline {
    .content {
      padding-top: var(--paddingTop);
      padding-bottom: var(--paddingBottom);
      padding-left: var(--paddingInline);
      padding-right: calc(var(--paddingInline) - 7.5px);
      display: flex;
      gap: var(--gap-small-s);
      flex-wrap: wrap;
      align-items:center;
    }
    .input {
      padding: 0px;
      margin: 0px;
    }
  }
  &.multi-autocomplete {
    .input {
      height: auto;
    }
  }
  &.multiline {
    .input {
      overflow-y: hidden;
      resize: none;
    }
  }
  &.focused {
    --labelColor: var(--primary-500);
    --borderColor: var(--primary-500);
    .clear-field-button {
      opacity: 1;
    }
    .field {
      background-color: var(--bgColor);
      box-shadow: var(--boxShadowFocus);
    }
    &.filled {
      .field:before {
        width: 0%;
      }
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}

.input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--autofillBgColor) inset;
    box-shadow: 0 0 0 30px var(--autofillBgColor) inset;
    -webkit-text-fill-color: var(--secondary-600);
  }
}
