.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

}
.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-middle);
}


