@import "@/app/styles/mixins", "@/app/styles/media";

.button {
  font-size: 16px;
  
  &.cross {
    &:before,
    &:after {
      @include abs-center;
      background-color: var(--color-primary);
      content: '';
      height: 1px;
      width: 16px;
      rotate: -45deg;
    }
    &:before {
      rotate: 45deg;
    }
  }

  &.password {
    &:before {
      @include abs-center;
      background-color: var(--color-primary);
      content: '';
      height: 1px;
      width: 0%;
      rotate: -45deg;
      transition-duration: var(--transition-duration);
    }
  }
  &.password.crossed {
    &:before {
      width: 16px;
    }
  }
}
