.pagination {
    display: flex;
    align-items: center;

    &.small {
        column-gap: var(--gap-10);
    }

    &.medium {
        column-gap: var(--gap-15);
    }

    &.large {
        column-gap: var(--gap-20);
    }
}

.button-pref-slide {
    rotate: 180deg;
}
