@import '@/app/styles/mixins', '@/app/styles/media';

.button {
    position: relative;
    aspect-ratio: 1;
    border: none;
    background-color: var(--primary-200);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    @include user-select-off;
    @include hover {
        .hover {
            opacity: 1;
        }
    }
}

.hover {
    @include hover-effect;
}

.icon {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    svg {
        fill: var(--primary-500);
        stroke: var(--primary-500);
        transition-duration: 0.2s;
    }
}

// Sizes
.button {
    &.small {
        height: 15px;
    }

    &.medium {
        height: var(--button-height-small-m);
    }

    &.large {
        height: var(--button-height-small-l);
    }
}

// Mods
.button {
    &.readonly {
        pointer-events: none
    }
    &.disabled {
        pointer-events: none;
        opacity: var(--opacity-medium);
    }
    &.clickable {
        cursor: pointer;
    }
    &:focus-visible {
        .hover {
            box-shadow: var(--box-shadow-focus);
            opacity: 1;
        }
    }
}

// Variants
.button {
    &.pagination {
        .icon {
            svg {
                fill: var(--primary-200);
                stroke: var(--primary-200);
            }
        }
        &.active {
            .icon {
                svg {
                    transform: scale(1.4);
                    fill: var(--primary-500);
                    stroke: var(--primary-500);
                }
            }
        }
    }

    &.password {
        &:before {
            @include abs-center;
            background-color: var(--dark-900);
            content: '';
            height: 1px;
            width: 0%;
            rotate: -45deg;
            transition-duration: inherit; 
        }
        .icon {
            height: 130%;
        }
        &.active {
            &:before {
                width: 110%;
            }
        }
    }

    &.check-mark {
        &:before {
            position: absolute;
            content: '';
            width: 80%;
            height: 40%;
            border-left: 2px solid var(--primary-500);
            border-bottom: 2px solid var(--primary-500);
            rotate: -45deg;
            left: 50%;
            translate: -50%;
            bottom: 40%;
        }
    }
}