@import "@/app/styles/media", "@/app/styles/mixins";

.button {
  --bgColor: transparent;
  --color: inherit;
  --hoverBgColor: var(--secondary-opacity);
  --boxShadowFocus: var(--box-shadow-focus-primary);
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  background-color: var(--bgColor);
  color: var(--color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  transition: background-color 0.2s, box-shadow 0.4s, opacity 0.2s, filter 0.2s;
  @include user-select-off;
  svg {
    transition-duration: 0.2s;
  }
  &:not(.custom-color) {
    svg {
      fill: var(--color);
      stroke: var(--color);
    }
  }
}

// Colors
.button {
  &.secondary {
    --color: var(--secondary-500);
    --hoverBgColor: var(--secondary-opacity);
    --boxShadowFocus: var(--box-shadow-focus-secondary);
  }
  &.primary {
    --color: var(--primary-500);
    --hoverBgColor: var(--primary-opacity);
  }
}

// Variants
.button {
  &.filled {
    @include hover {
      background-color: var(--hoverBgColor);
      filter: drop-shadow(0 0 1px var(--bgColor));
    }
    &.primary {
      --color: var(--light);
      --hoverBgColor: var(--primary-600);
      --bgColor: var(--primary-500);
    }
    &.secondary {
      --color: var(--light);
      --bgColor: var(--secondary-500);
      --hoverBgColor: var(--secondary-600);
    }
  }
  &.outlined {
    border: 1px solid currentColor;
  }
  &.clear,
  &.outlined {
    &:after {
      content: '';
      border-radius: inherit;
      position: absolute;
      inset: 0;
      background-color: currentColor;
      opacity: 0;
      transition-duration: inherit;
    }
    @include hover {
      &:after {
        opacity: 0.05;
      }
    }
  }
}

// Sizes
.button {
  &.small-s {
    height: var(--button-height-small-s);
    font-size: var(--font-size-small-s);
  }
  &.small-m {
    height: var(--button-height-small-m);
    font-size: var(--font-size-small-m);
  }
  &.small-l {
    height: var(--button-height-small-l);
    font-size: var(--font-size-small-l);
  }
  &.medium {
    height: var(--button-height-medium);
    font-size: var(--font-size-medium);
  }
  &.large {
    height: var(--button-height-large);
    font-size: var(--font-size-large);
  }
}

// Border radius
.button {
  &.everywhere {
    border-radius: var(--border-radius-small);
  }
  &.left {
    border-radius: var(--border-radius-small) 0 0  var(--border-radius-small);
  }
  &.right {
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  }
  &.round {
    border-radius: 50%;
  }
  &.none {
    border-radius: 0px;
  }
}

// Mods
.button {
  &:focus-visible {
    box-shadow: var(--boxShadowFocus);
    background-color: var(--hoverBgColor);
  }
  &.disabled {
    opacity: var(--opacity-medium);
    pointer-events: none;
  }
  &.readonly {
    cursor: default;
  }
}
