@import '@/app/styles/media';

.menu-item {
    color: var(--secondary-600);
    &.selected {
        background-color: var(--primary-100);
    }
    &.hovered:not(.disabled) {
        .button,
        .link {
            background-color: var(--secondary-opacity);
        }   
    }
    &.disabled {
        .button,
        .link {
            pointer-events: none;
            opacity: var(--opacity-big);
        }
    }
}

.button,
.link {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: var(--padding-medium);
    width: 100%;
    min-height: var(--button-height-medium);
    padding-inline: var(--padding-medium);
    padding-block: var(--padding-small-s);
    cursor: pointer;
    color: inherit;
    text-align: start;
    border-radius: inherit;
    @include hover {
        background-color: var(--secondary-opacity);
    }
    &:focus-visible {
        background-color: var(--secondary-200);
    }
}

.button {
    background-color: transparent;
    border: none;
    padding: none;
}

.check-mark {
    opacity: 0;
    animation: appearance-check-mark 0.2s forwards;
    margin-left: auto;

}

.end-icon {
    display: flex;
    margin-left: auto;
}

@keyframes appearance-check-mark {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}