@import '@/app/styles/media', '@/app/styles/mixins';

.button {
    @include input-action-button;
    position: relative;

    &::after,
    &::before {
        @include abs-center;
        content: '';
        width: 50%;
        height: 2px;
        background-color: currentColor;
        rotate: 45deg;
    }
    &::before {
        rotate: -45deg;
    }
}