.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, z-index 3s;
    z-index: var(--z-index-close);
    animation-name: appearance;
    animation-duration: 0.4s;
    
    &.visible {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.4s;
    }

    &.dark {
        background-color: rgb(0, 0, 0, 0.2);
    }
    &.clear {
        background-color: transparent;
    }
    &.small {
        &.visible {
            z-index: var(--z-index-backdrop-open-small);
        }
    }
    &.large {
        &.visible {
            z-index: var(--z-index-backdrop-open-large);
        }
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}