.app-theme-dark {
    --theme-color-light: white;
    --theme-color-light-alt: white;
    --theme-color-dark: black;
    --theme-color-dark-alt: black;
    --theme-color-primary: blue;
    --theme-color-secondary: blue;
}