.app-theme-light {
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(63, 26, 5);
  --color-secondary: rgb(255, 242, 227);
  --color-primary: rgb(202, 131, 25);
  --color-primary-light: rgb(233, 151, 29,0.8);
  --color-gray: rgb(255, 226, 183);
  
  --theme-color-opacity: rgba(252, 232, 202, 0.2);
}
