.app-theme-light {
    --theme-color-light: rgb(255, 255, 255);
    --theme-color-light-alt: rgb(247, 255, 244);
    --theme-color-dark: rgb(0, 0, 0);
    --theme-color-dark-alt: rgb(52, 75, 45);
    --theme-color-primary: rgb(79, 133, 63);
    --theme-color-secondary: rgb(214, 252, 202);
    --theme-color-opacity: rgb(214, 252, 202, 0.2);
}