@import "@/app/styles/mixins", "@/app/styles/media";

.button {
  @include input-action-button;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.crossed {
    &:after {
        width: 80%;
    }
  }

  &:after {
    @include abs-center;
    content: "";
    height: 1px;
    width: 0%;
    background-color: currentColor;
    rotate: -45deg;
    transition-duration: inherit;
  }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size);
    aspect-ratio: 1;
    fill: transparent;
    stroke: currentColor;
}