.dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-500);
  //overflow: hidden;
  border-radius: var(--border-radius-small);
  background-color: var(--light);
  box-shadow: var(--box-shadow-menu);
  &.visible {
     pointer-events: all;
     opacity: 1;
  }
  &.mounting {
    animation: mounting 0.2s;
  }
  &.unmounting {
    animation: unmounting 0.2s forwards;
  }
}

.dropdown:not(.no-transition) {
  transition:
    opacity 0.2s,
    z-index 999s;
  &.visible {
    transition:
      opacity 0.2s,
  }
}

@keyframes mounting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unmounting {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}