.aside-bar {
    height: calc(100vh - var(--header-height));
    padding-inline: var(--padding-medium);
    padding-block: var(--section-padding);
    max-width: 200px;
    width: 100%;  
}

.list {
    width: 100%;
    border-right: 1px solid var(--primary-200);
}