@import "@/app/styles/media";

.chip {
  --height: var(--button-height-small-m);
  --chipBgColor: var(--primary-500);
  --chipHoverBgColor: var(--primary-200);
  --focusColor: var(--primary-500);
  --color: var(--light);
  --hoverColor: var(--secondary-600);
  height: var(--height);
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  column-gap: var(--gap-small-s);
  cursor: default;
  color: var(--color);
  background-color: var(--chipBgColor);

  &.clickable {
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
    overflow: hidden;
    position: relative;
    &:focus-visible {
      box-shadow: 0 0 5px 1px var(--focusColor);
    }
    @include hover {
      background-color: var(--chipHoverBgColor);
      --color: var(--hoverColor);
    }
  }
}

// Colors
.chip {
    &.primary {
  
    }
    &.secondary {
      --chipBgColor: var(--secondary-200);
      --chipHoverBgColor: var(--secondary-100);
      --color: var(--secondary-600);
      --focusColor: var(--secondary-600);
    }
    &.error {
      --chipBgColor: var(--red-500);
      --chipHoverBgColor: var(--red-100);
      --focusColor: var(--red-500);
    }
    &.success {
        --chipBgColor: var(--green-500);
        --chipHoverBgColor: var(--green-100);
        --focusColor: var(--green-500);
      }
}

// Variants
.chip {
  &.outlined {
    --chipBgColor: transparent;
    box-shadow: 0 0 0 1px var(--color) inset;
    &.primary {
      --color: var(--primary-500);
      --chipHoverBgColor: var(--primary-100);
    }
    &.secondary {
      --color: var(--secondary-600);
      --chipHoverBgColor: var(--secondary-100);
    }
    &.success {
      --color: var(--green-500);
      --chipHoverBgColor: var(--green-100);
    }
    &.error {
      --color: var(--red-500);
      --chipHoverBgColor: var(--red-100);
    }
  }
}

.chip {
  &.small {
    --height: var(--button-height-small-m);
    font-size: var(--font-size-small-m);
    padding-inline: calc(var(--height) / 2)
  }
  &.medium {
    --height: var(--button-height-small-l);
    font-size: var(--font-size-small-l);
    padding-inline: calc(var(--height) / 2)
  }
}

.chip {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &.have-close-button {
    padding-right: 2.5px;
  }
}
