@import "@/app/styles/media", "@/app/styles/animations";

.chip {
  --height: var(--button-height-small-m);
  --bgColor: var(--primary-500);
  --bgColorHover: var(--bgColor);
  --boxShadowColor: var(--bgColor);
  --color: var(--light);
  --paddingBlock: 4px;
  height: var(--height);
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--paddingBlock);
  color: var(--color);
  background-color: var(--bgColor);
  padding-block: var(--paddingBlock);
  text-wrap: nowrap;
  cursor: inherit;
  position: relative;
  &:after {
    content: '';
    pointer-events: none;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
  }

  &.clickable {
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
    position: relative;
    &:focus-visible {
      background-color: var(--bgColorHover);
      &:after {
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        box-shadow: 0 0 0 2px var(--primary-500);
      }
    }
    @include hover {
      filter: drop-shadow(0 0 1px var(--boxShadowColor));
      background-color: var(--bgColorHover);
    }
  }
}

.close-button {
  height: 100%;
  font-size: 9px;
}

// Colors
.chip {
    &.secondary {
      --bgColor: var(--secondary-200);
      --color: var(--secondary-600);
      --boxShadowColor: var(--secondary-300);
    }
    &.error {
      --bgColor: var(--red-500);
    }
    &.success {
      --bgColor: var(--green-500);
      }
}

// Variants
.chip {
  &.outlined {
    --bgColor: transparent;
    --boxShadowColor: transparent;
    border: 1px solid var(--color);
    &.primary {
      --color: var(--primary-500);
      --bgColorHover: var(--primary-100);
    }
    &.secondary {
      --color: var(--secondary-600);
      --bgColorHover: var(--secondary-100);
      border-color: var(--secondary-500);
    }
    &.success {
      --color: var(--green-500);
      --bgColorHover: var(--green-100);
    }
    &.error {
      --color: var(--red-500);
      --bgColorHover: var(--red-100);
    }
  }
}

.chip {
  &.small {
    --height: var(--button-height-small-m);
    font-size: var(--font-size-small-m);
    padding-inline: calc(var(--height) / 2)
  }
  &.medium {
    --height: var(--button-height-small-l);
    font-size: var(--font-size-small-l);
    padding-inline: calc(var(--height) / 2)
  }
}

.chip {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &.readonly {
    cursor: default;
  }
  &.have-close-button {
    padding-right: var(--paddingBlock);
  }
}
