@import "@/app/styles/media";

.chip {
  --height: var(--button-height-small-m);
  --chipBgColor: var(--primary-500);
  --chipHoverBgColor: var(--primary-400);
  --buttonBgColor: var(--primary-opacity);
  --buttonHoverBgColor: var(--light);
  --boxShadowFocus: var(--box-shadow-focus);
  --color: var(--light);
  --iconColor: var(--primary-300);
  height: var(--height);
  border-radius: var(--border-radius-large);
  padding-inline: calc(var(--height) / 3);
  padding-block: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--padding-small-s);
  cursor: default;
  color: var(--color);
  background-color: var(--chipBgColor);

  &.have-close-button {
    padding-right: 3px;
  }
  &.clickable {
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
    overflow: hidden;
    position: relative;
    &:focus-visible {
      box-shadow: var(--box-shadow-focus);
    }
    @include hover {
      background-color: var(--chipHoverBgColor);
    }
  }
}

.button {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: var(--buttonBgColor);
  transition-duration: 0.2s;
  @include hover {
    background-color: var(--buttonHoverBgColor);
  }
  &:focus-visible {
    background-color: var(--buttonHoverBgColor);
  }
}

.icon {
  align-items: center;
  justify-content: center;
  svg {
    fill: var(--iconColor);
    stroke: var(--iconColor);
  }
}

// Variants
.chip {
  &.filled {
    &.primary {
      --iconColor: var(--primary-500);
    }
    &.secondary {
      --chipBgColor: var(--primary-200);
      --chipHoverBgColor: var(--primary-opacity);
      --color: var(--primary-500);
      --buttonBgColor: var(--light);
      --iconColor: var(--primary-200);
      --buttonHoverBgColor: var(--primary-500);
    }
    &.error {
      --chipBgColor: var(--red-600);
      --chipHoverBgColor: var(--red-500);
      --iconColor: var(--red-600);
    }
    &.success {
        --chipBgColor: var(--green-600);
        --chipHoverBgColor: var(--green-500);
        --iconColor: var(--green-600);
      }
  }

  &.outlined {
    --chipBgColor: transparent;
    --color: var(--primary-500);
    --chipHoverBgColor: var(--primary-opacity);
    &.primary {
      border: 1px solid var(--primary-500);
      --buttonHoverBgColor: var(--primary-500);
    }
    &.secondary {
      border: 1px solid var(--primary-200);
      --buttonHoverBgColor: var(--primary-500);
    }
    &.error {
      border: 1px solid var(--red-600);
      --color: var(--red-600);
      --chipHoverBgColor: var(--red-100);
      --buttonBgColor: var(--red-opacity);
      --iconColor: var(--red-100);
      --buttonHoverBgColor: var(--red-600);
    }
    &.success {
        border: 1px solid var(--green-600);
        --color: var(--green-600);
        --chipHoverBgColor: var(--green-100);
        --buttonBgColor: var(--green-opacity);
        --iconColor: var(--green-100);
        --buttonHoverBgColor: var(--green-600);
      }
  }
}

.chip {
  &.small {
    --height: var(--button-height-small-m);
    font-size: var(--font-size-small-m);
  }
  &.medium {
    --height: var(--button-height-small-l);
    font-size: var(--font-size-small);
  }
  &.large {
    --height: var(--button-height-medium);
  }
}

.chip {
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
}
