@import "@/app/styles/media", "@/app/styles/mixins";

.button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-small);
  transition-duration: var(--transition-duration);
  flex-shrink: 0;
  background-color: transparent;
  @include user-select-off;

  // Variant
  &.primary {
    color: var(--color-light);
    box-shadow: 0 0 2px var(--color-primary);
    background-color: var(--color-primary);

    @include hover {
      background-color: var(--color-primary-light);
    }

    .icon {
      svg {
        stroke: var(--color-light);
        fill: var(--color-light);
      }
    }
  }

  &.transparent {
    box-shadow: 0 0 2px var(--color-primary);
    background-color: transparent;
    @include hover {
      background-color: var(--theme-color-opacity);
    }
  }

  &.clear {
    background-color: transparent;
    @include hover {
      background-color: var(--theme-color-opacity);
      box-shadow: 0 0 2px var(--theme-color-opacity);
    }
  }

  // Minimalism variant
  &.minimalism {
    justify-content: center;
    aspect-ratio: 1;

    &__round {
      border-radius: 50%;
    }
  }
  // Size
  &.small:not(.minimalism) {
    padding-inline: var(--padding-small);
    height: var(--button-height-small);
    gap: var(--gap-small);
  }
  &.small.minimalism {
    height: var(--button-height-small);
  }

  &.medium:not(.minimalism) {
    padding-inline: var(--padding-medium);
    height: var(--button-height-medium);
    gap: var(--gap-medium);
  }
  &.medium.minimalism {
    height: var(--button-height-medium);
  }

  &.large:not(.minimalism) {
    padding-inline: var(--padding-large);
    height: var(--button-height-large);
    gap: var(--gap-large);
  }
  &.large.minimalism {
    height: var(--button-height-large);
  }

  // Disabled
  &.disabled {
    opacity: var(--opacity-medium);
    pointer-events: none;
  }

  &.readonly {
    pointer-events: none;
  }

  &.hidden-label {
    .label {
      @include visually-hidden;
    }
  }

  &:focus-visible {
    box-shadow: var(--box-shadow-focus);
  }
}

.icon {
  height: 1em;
  aspect-ratio: 1;
  display: flex;
  svg {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }
}


