@import "@/app/styles/media", "@/app/styles/mixins";

.button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-medium);
  text-wrap: nowrap;
  @include user-select-off;
  gap: var(--gap-small-s);
  color: var(--primary-500);
  transition-duration: 0.2s;
}

.icon {
  display: flex;
}

// Variants
.button {
  &.filled {
    &.primary {
      background-color: var(--primary-500);
      color: var(--light);
      @include hover {
        background-color: var(--primary-400);
      }
    }
    &.secondary {
      background-color: var(--primary-200);
      @include hover {
        background-color: var(--primary-opacity);
      }
    }
  }
  &.outlined {
    &.primary {
      border: var(--border-primary);
      background-color: transparent;
    }
    &.secondary {
      background-color: transparent;
      border: var(--border-secondary);
    }
    @include hover {
      background-color: var(--primary-opacity);
    }
  }
  &.clear {
    background-color: transparent;
    @include hover {
      background-color: var(--primary-opacity);
    }
  }
}

// Sizes
.button {
  // Small-s, only minimalism mode
  &.small-s.minimalism {
    height: var(--button-height-small-s);
  }
  // Small-m, only minimalism mode
  &.small-m.minimalism {
    height: var(--button-height-small-m);
  }
  // Small-l
  &.small-l:not(.minimalism) {
    padding-inline: var(--padding-small-l);
    height: var(--button-height-small-l);
  }
  &.small-l.minimalism {
    height: var(--button-height-small-l);
  }
  // Medium
  &.medium:not(.minimalism) {
    padding-inline: var(--padding-medium);
    height: var(--button-height-medium);
  }
  &.medium.minimalism {
    height: var(--button-height-medium);
  }
  // Large
  &.large:not(.minimalism) {
    padding-inline: var(--padding-large);
    height: var(--button-height-large);
  }
  &.large.minimalism {
    height: var(--button-height-large);
  }
}

// Mods
.button {
  &.disabled {
    opacity: var(--opacity-medium);
    pointer-events: none;
  }

  &.readonly {
    pointer-events: none;
  }

  &.hidden-label {
    .label {
      @include visually-hidden;
    }
  }
  &:focus-visible {
    box-shadow: var(--box-shadow-focus);
  }
}

// Minimalism variant
.button {
  &.minimalism {
    justify-content: center;
    aspect-ratio: 1;
    padding: 0;
    &__round {
      border-radius: 50%;
    }
  }
}