.modal {
    box-shadow: var(--box-shadow-primary);
    opacity: 0;
    z-index: var(--z-index-close);
    transition: opacity 0.4s, transform 0.4s, z-index 3s;
    background-color: var(--color-light);
    border-radius: var(--border-radius-middle);
    pointer-events: none;
    transform: translateY(50%);

    &.visible {
        opacity: 1;
        z-index: var(--z-index-menu);
        transition: opacity 0.4s, transform 0.4s, z-index 0s;
        pointer-events: all;
        transform: translateY(0);
    }
}
