.divider {
    background-color: var(--secondary-300);
    border: none;
}

.divider {
    &.vertical {
        height: 100%;
        width: 1px;
        margin-inline: var(--gap-small-s);
    }
    &.horizontal {
        width: 100%;
        height: 1px;
        margin-block: var(--gap-small-s);
    }
}