@import '@/app/styles/mixins';

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--light);
    background-color: var(--secondary-300);
    @include user-select-off;
    font-size: 1.2em;
}

// Variants
.avatar {
    &.circular {
        border-radius: 50%;
    }
    &.rounded {
        border-radius: var(--border-radius-small);
    }
    &.square {
        border-radius: 0px;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}