.list {
    max-height: calc(var(--button-height-medium) * 7);
    background-color: var(--color-light);
    overflow-y: auto;
}

.item {
    transition-duration: var(--transition-duration);
    &.hovered {
        background-color: var(--theme-color-opacity);
    }
}