@import '@/app/styles/mixins', '@/app/styles/media';

.container {
  @include user-select-off;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

.track {
  position: relative;
  background-color: var(--primary-200);
  border-radius: var(--border-radius-small);
  width: 100%;
}

.fill {
  position: absolute;
  border-radius: var(--border-radius-small);
  height: 100%;
  background-color: var(--primary-500);
}

.marker {
  position: absolute;
  height: 150%;
  aspect-ratio: 1;
  background-color: var(--primary-200);
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;

  &:before {
    content: '';
    @include abs-center;
    height: 50%;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--primary-300);
  }

  &.active {
    background-color: var(--primary-500);
    &:before {
      background-color: var(--primary-300);
    }
    .marker-label {
      color: var(--primary-500);
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.marker-label {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: var(--gap-medium-m);
  color: var(--primary-300);
  transition-duration: 0.2s;
  font-size: var(--font-size-small);
}

.thumb {
  position: absolute;
  aspect-ratio: 1;
  background-color: var(--primary-500);
  box-shadow: var(--box-shadow-secondary);
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &:before {
    @include hover-effect;
  }

  &:focus {
    &:before {
      opacity: 1;
    }
  }

  @include hover {
    &:before {
      opacity: 1;
    }
  }
}

// Sizes
.container {
  &.small {
    height: var(--button-height-small-s);
    .track {
      height: 4px;
    }
    .thumb {
      height: var(--button-height-small-s);
    }
  }

  &.medium {
    height: var(--button-height-small-m);
    .track {
      height: 6px;
    }
    .thumb {
      height: var(--button-height-small-m);
    }
  }
}

// Mods
.container {
  &.dragging {
    .thumb:before {
      height: 250%;
    }
  }

  &.disabled {
    pointer-events: none;
    .marker {
      pointer-events: none;
    }
    .track {
      opacity: 0.5;
    }
  }
}




