@import '@/app/styles/mixins';

.slider {
    display: flex;
    align-items: center;
    height: 45px;
    width: 150px;
    @include user-select-off;
    border: 1px solid black;
}

.track {
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color:red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fill {
    position: absolute;
    height: 130%;
    width: 0%;
    left: 0;
    background-color: var(--color-primary);
    top: 50%;
    translate: 0% -50%;
    border-radius: 5px;
}

.thumb {
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    height: var(--height-medium);
    aspect-ratio: 1;
    background-color: var(--color-primary);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--color-primary);
    z-index: 1;
}

.mark {
    height: 2px;
    aspect-ratio: 1;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.input {
    position: absolute;
    cursor: pointer;
    opacity: 0 ;
    height: 15px;
    width: calc(100% + 15px);
    transform: translateX(-9.5px);
}