.aside-menu {
    position: fixed;
    background-color: var(--light);
    --border: 1px solid var(--secondary-300);
}

// Position
.aside-menu {
    &.top {
        width: 100%;
        top: 0;
        border-bottom: var(--border);
        animation: mounting-top 0.2s forwards;
        &.unmounting {
            animation: unmounting-top 0.2s forwards;
        }
    }
    &.bottom {
        width: 100%;
        bottom: 0;
        border-top: var(--border);
        animation: mounting-bottom 0.2s forwards;
        &.unmounting {
            animation: unmounting-bottom 0.2s forwards;
        }
    }
    &.left {
        height: 100%;
        left: 0;
        top: 0;
        border-right: var(--border);
        animation: mounting-left 0.2s forwards;
        &.unmounting {
            animation: unmounting-left 0.2s forwards;
        }
    }
    &.right {
        height: 100%;
        right: 0;
        top: 0;
        border-left: var(--border);
        animation: mounting-right 0.2s forwards;
        &.unmounting {
            animation: unmounting-right 0.2s forwards;
        }
    }
}

// Top
@keyframes mounting-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes unmounting-top {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

// Bottom
@keyframes mounting-bottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes unmounting-bottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

// Left
@keyframes mounting-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes unmounting-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

// Right
@keyframes mounting-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes unmounting-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
