.aside-menu {
    position: fixed;
    background-color: var(--light);
    z-index: var(--z-index-close);
    transition: transform 0.4s, z-index 3s;
    pointer-events: none;
}

// Position
.aside-menu {
    &.top {
        width: 100%;
        top: 0;
        transform: translateY(-100%);
        border-bottom: var(--border-secondary);
    }
    &.bottom {
        width: 100%;
        bottom: 0;
        transform: translateY(100%);
        border-top: var(--border-secondary);
    }
    &.left {
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        border-right: var(--border-secondary);
    }
    &.right {
        height: 100%;
        right: 0;
        top: 0;
        transform: translateX(100%);
        border-left: var(--border-secondary);
    }
}

.aside-menu {
    &.visible {
        pointer-events: all;
        transform: translateX(0%) translateY(0%);
        z-index: var(--z-index-aside-menu);
        transition: transform 0.4s;
    }
}

