@import "@/app/styles/mixins", "@/app/styles/media";

.wrapper {
  --paddingInline: var(--padding-medium);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small-s);
  color: var(--dark-900);
  width: 100%;
}

.field {
  position: relative;
}

.input {
  width: 100%;
  border-radius: var(--border-radius-small);
  border: none;
  outline: none;
  padding-inline: var(--paddingInline);
  padding-right: calc(var(--paddingInline) + (var(--button-height-small-s) * 2));
  color: inherit;
  transition-duration: 0.2s;

  &::placeholder {
    opacity: var(--opacity-medium);
    color: inherit;
    transition-duration: 0.1s;
  }
}

.label {
  position: absolute;
  left: var(--paddingInline);
  pointer-events: none;

  &:after {
    content: "*";
    color: var(--red-600);
    display: none;
  }
}

.buttons {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: var(--paddingInline);
  display: flex;
  align-items: center;
  pointer-events: none;
  column-gap: var(--padding-medium);
}

.clear-button {
  opacity: 0;
}

.error-message {
  color: var(--color-red);
  font-size: var(--font-size-small);
  padding-left: var(--paddingInline);
}

// Variants
.wrapper {
  &.primary {
    .input {
      box-shadow: var(--box-shadow-secondary);
      background-color: var(--primary-200);
      &:focus {
        background-color: var(--light);
      }
    }
    @include hover {
      .input {
        background-color: var(--light);
      }
    }
  }

  &.transparent {
    .input {
      box-shadow: var(--box-shadow-primary);
      &:focus {
        background-color: var(--primary-opacity);
      }
    }
    @include hover {
      .input {
        background-color: var(--primary-opacity);
      }
    }
  }
}

// Label Variants
.wrapper {
  &.jump {
    .input::placeholder {
      opacity: 0;
    }
    .label {
      top: 50%;
      translate: 0 -50%;
      opacity: var(--opacity-medium);
      transition-duration: 0.2s;
    }

    &.dirty,
    &:focus-within {
      .label {
        translate: 0;
        top: -1.5em;
        opacity: 1;
      }
    }
    &:focus-within {
      .input::placeholder {
        opacity: var(--opacity-medium);
      }
    }
  }

  &.static {
    .label {
      top: -1.5em;
      opacity: var(--opacity-small);
    }
  }
}

// Sizes
.wrapper {
  &.medium {
    .input {
      height: var(--button-height-medium);
    }
  }
  &.large {
    --paddingInline: var(--padding-large);
    .input {
      height: var(--button-height-large);
    }
  }
}

// Mods
.wrapper {
  &.error {
    color: var(--red-600);
    animation: error 0.5s;
    .input {
      box-shadow: var(--box-shadow-error);
    }
  }
  &.readonly {
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &.required {
    .label {
      &:after {
        display: inline;
      }
    }
  }
  &.search {
    .input {
      padding-right: calc(var(--paddingInline) + (var(--button-height-small-s) * 4));
    }
  }
  &.password {
    .input {
      padding-right: calc(var(--paddingInline) + (var(--button-height-small-s) * 4));
    }
  }
}

// Action buttons
.wrapper {
  &:focus-within.dirty {
    .clear-button {
      opacity: 1;
      pointer-events: all;
    }
  }
  &:focus-within {
    .buttons:not(.clear-button) {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@keyframes error {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  45% {
    transform: translateX(-5%);
  }
  60% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0%);
  }
}