.header {
    height: var(--header-height);
    background-color: var(--dark-900);
}

.primary {
    color: var(--primary-500);
}
.secondary {
    color: var(--primary-400);
}
.dark {
    color: var(--dark-900);
}
.dark-alt {
    color: var(--primary-400);
}
.light {
    color: var(--light);
}
.light-alt {
    color: var(--primary-200);
}

.square {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-small);
    background-color: currentColor;
}

