@import "@/app/styles/mixins", "@/app/styles/media";

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include user-select-off;
  @include hover {
    .hover {
      opacity: 1;
    }
  }
  &:focus-visible {
      .hover {
        opacity: 1;
    }
  }
  & input[type="radio"]:checked + .emulator:before {
    height: 70%;
  }
}

.emulator {
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-secondary);
  transition-duration: 0.2s;
  box-shadow: var(--box-shadow-primary);
  position: relative;

  &:before {
    @include abs-center;
    content: "";
    height: 0%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition-duration: inherit;
    box-shadow: var(--box-shadow-secondary);
  }
}

.hover {
  @include hover-effect;
}

// Sizes
.radio {
  &.small {
    column-gap: var(--gap-small-s);
    .emulator {
      height: var(--button-height-small-s);
    }
  }

  &.medium {
    column-gap: var(--gap-small-m);
    .emulator {
      height: var(--button-height-small-m);
    }
  }
}