@import "@/app/styles/mixins", "@/app/styles/media";

.radio {
  display: flex;
  align-items: center;
  column-gap: var(--gap-medium);
  cursor: pointer;

  @include user-select-off;
  @include hover {
    .hover {
      background-color: var(--theme-color-opacity);
    }
  }
  &:focus-visible {
      .hover {
      background-color: var(--theme-color-opacity);
    }
  }
  & input[type="radio"]:checked + .emulator:before {
    height: 60%;
  }

  // Size
  &.small {
    .emulator {
      height: var(--height-small);
    }
  }

  &.medium {
    .emulator {
      height: var(--height-medium);
    }
  }

  &.large {
    .emulator {
      height: var(--height-large);
    }
  }
}

.emulator {
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-secondary);
  transition-duration: var(--transition-duration);
  box-shadow: 0 0 2px var(--color-primary);
  position: relative;

  &:before {
    @include abs-center;
    content: "";
    height: 0%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition-duration: inherit;
  }
}

.hover {
  @include hover-effect;
}
