.title {
    position: relative;
    line-height: 0.7;

    &:before {
        content: '';
        position: absolute;
        width: 15px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--theme-color-opacity);
        top: 50%;
        translate: 0 -50%;
    }
}