.header {
    color: var(--secondary-600);
    padding-inline: var(--padding-medium);
    padding-block: var(--padding-small-s);
    min-height: var(--button-height-medium);
    background-color: var(--secondary-200);
}