.container {
    position: relative;
    width: max-content;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 400%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(var(--primary-500), var(--primary-500)), linear-gradient(var(--primary-200), var(--primary-200)), linear-gradient(var(--primary-500), var(--primary-500)), linear-gradient(var(--primary-200), var(--primary-200));
        animation: rotate 3s linear infinite;
      }
      

}

@keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }