.subsection {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title {
    align-self: start;
}

.filters {
    column-gap: 20px;
}

.accordion-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.toggle-switch-group {
    padding-block: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--gap-large);
}

.components {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.component {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__title {
        align-self: end;
    }
}

.button {
    align-self: start;
}