@import "@/app/styles/media", "@/app/styles/mixins", '@/app/styles/animations';

.select {
  --paddingInline: var(--padding-medium);
  --height: var(--button-height-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small-s);
  @include user-select-off;
}

.field-container {
  position: relative;
}

.field {
  width: 100%;
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: var(--height);
  padding-inline: var(--paddingInline);
  &:focus {
    .arrow-icon {
      svg {
        fill: var(--primary-500);
        stroke: var(--primary-500);
      }
    }
  }
}

.label {
  line-height: 1;
  transition-duration: 0.2s;
  &:after {
    content: "*";
    color: var(--red-500);
    display: none;
  }
}

.placeholder {
  position: absolute;
  opacity: var(--opacity-medium);
  pointer-events: none;
}

.chips {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.error-message {
  font-size: var(--font-size-small);
  color: var(--red-500);
  padding-left: var(--paddingInline);
  user-select: text;
  max-width: 100%;
  animation: appearance-right 0.5s;
}

.arrow-icon {
  svg {
    transition-duration: 0.2s;
    transform: rotate(-90deg);
    fill: var(--primary-200);
    stroke: var(--primary-200);
  }
}

// Variants
.select {
  &.outlined {
    .field {
      background-color: var(--light);
      border: var(--border-secondary);
      @include hover {
        border-color: var(--primary-300);
      }
      &:focus {
        border-color: var(--primary-500);
      }
    }
  }
}

// Sizes
.select {
  &.medium {
    --paddingInline: var(--padding-medium);
    --height: var(--input-height-medium);
    .field {
      padding-block: var(--padding-small-l);
    }
  }
  &.large {
    --paddingInline: var(--padding-large);
    --height: var(--input-height-large);
    .field {
      padding-block: var(--padding-medium);
    }
  }
}

// Label variants
.select {
  &.jump {
    .label {
      opacity: var(--opacity-medium);
      position: absolute;
      top: 50%;
      translate: 0 -50%;
    }
    .placeholder {
      opacity: 0;
    }
    .field:focus:not(.dirty) {
      .placeholder {
        opacity: var(--opacity-medium);
        transition-duration: 0.2s;
      }
    }
    .field:focus,
    &.dirty {
      .label {
        top: 0;
        opacity: 1;
        font-size: var(--font-size-small);
        background-color: var(--light);
        padding-inline: 3px;
        margin-left: -3px;
      }
    }
  }
  &.static {
    .label {
      padding-left: var(--paddingInline);
    }
  }
}

// Mods
.select {
  &.disabled {
    .field {
      pointer-events: none;
      opacity: var(--opacity-medium);
    }
  }
  &.readonly {
    .field {
      pointer-events: none;
    }
  }
  &.required {
    .label:after {
      display: inline;
    }
  }
  &.dirty {
    .placeholder {
      opacity: 0;
    }
  }
  &.visible-menu {
    .arrow-icon {
      svg {
        rotate: 180deg;
        fill: var(--primary-500);
        stroke: var(--primary-500);
      }
    }
  }
  &.errored {
    .field-container {
      animation: snaking 0.5s;
    }
    .field {
      border-color: var(--red-500);
    }
    .label {
      color: var(--red-500);
    }
  }
}
