@import "@/app/styles/media", "@/app/styles/mixins", '@/app/styles/animations';

.select {
  --paddingInline: var(--padding-medium);
  --paddingBlock: var(--gap-small-s);
  --paddingTop: var(--padding-small-l);
  --paddingBottom: var(--padding-small-l);
  --height: var(--button-height-medium);
  --bgColor: var(--light);
  --hoverBgColor: var(--light);
  --borderColor: var(--secondary-300);
  --hoverBorderColor: var(--secondary-600);
  --focusBorderColor: var(--primary-500);
  --labelColor: var(--secondary-500);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small-s);
  width: 100%;
  @include user-select-off;
}

.field-wrapper {
  position: relative;
}

.field {
  position: relative;
  width: 100%;
  transition-duration: 0.2s;
  min-height: var(--height);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--bgColor);
  padding-right: var(--paddingInline);
  @include hover {
    --borderColor: var(--hoverBorderColor);
    background-color: var(--hoverBgColor);
  }
}

.content {
  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);
  width: 100%;
  min-height: var(--height);
  padding-inline: var(--paddingInline);
  display: flex;
  align-items: center;
}

.open-menu-button {
  svg {
    rotate: -90deg;
    transition-duration: 0.2s;
  }
}

.label {
  transition-duration: 0.2s;
  pointer-events: none;
  z-index: 1;
  color: var(--labelColor);
  &:after {
    content: "*";
    color: var(--red-500);
    display: none;
  }
}

.placeholder {
  position: absolute;
  pointer-events: none;
  color: var(--secondary-500);
}

.chips {
  display: flex;
  gap: var(--gap-small-s);
  flex-wrap: wrap;
}

.error-message {
  font-size: var(--font-size-small);
  color: var(--red-500);
  padding-left: var(--paddingInline);
  user-select: text;
  max-width: 100%;
  animation: appearance-right 0.5s;
}

// Variants
.select {
  &.outlined {
    .field {
      box-shadow: 0 0 0 1px var(--borderColor);
      border-radius: var(--border-radius-small);
    }
    &.focused {
      .field {
        box-shadow: 0 0 0 2px var(--focusBorderColor);
      }
    }
  }
  &.filled {
    --hoverBgColor: var(--secondary-300);
    --bgColor: var(--secondary-200);
    .field {
      border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
      &:after {
        @include underline-bottom;
        width: 100%;
        background-color: var(--borderColor);
        height: 1px;
        bottom: -1px;
      }
      &:before {
        @include underline-bottom;
        background-color: var(--focusBorderColor);
        z-index: 1;
        bottom: -2px;
      }
    }
    &.focused {
      .field:before {
        width: 100%;
      }
    }
  }
}

// Sizes
.select {
  &.medium {
    --height: var(--input-height-medium);
  }
  &.large {
    --height: var(--input-height-large);
    --paddingBlock: 8px;
  }
}

// Label Variants
.select {
  &.visible {
    .label {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      margin-left: var(--paddingInline);
    }
    .placeholder {
      opacity: 0;
    }
    &.dirty,
    &.focused {
      .label {
        font-size: var(--font-size-small-l);
      }
    }
    &.focused:not(.dirty) {
      .placeholder {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }
  }
  &.visible.outlined {
    .label:before {
        z-index: -1;
        content: '';
        position: absolute;
        height: 100%;
        width: 120%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--light);
    }
    &.dirty,
    &.focused {
      .label {
        top: -1px;
      }
    }
  }
  &.visible.filled {
    --paddingTop: calc((var(--height) - var(--button-height-small-m)) - var(--paddingBlock) );
    --paddingBottom: var(--paddingBlock);
    &.dirty,
    &.focused {
      .label {
        top: var(--paddingBottom);
        translate: 0;
      }
    }
    .start-adornment {
      padding-top: var(--paddingTop);
      padding-bottom: var(--paddingBottom);
    }
  }

  &.hidden {
    .label {
      @include visually-hidden;
    }
  }
}

// Mods
.select {
  &.required {
    .label:after {
        display: inline;
    }
  }
  &.errored {
    --borderColor: var(--red-500);
    --labelColor: var(--red-500);
    .field-wrapper {
      animation: snaking 0.5s;
    }
  }
  &.focused {
    --labelColor: var(--primary-500);
    .field {
      background-color: var(--bgColor);
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: var(--opacity-medium);
  }
  &.dirty {
    .placeholder {
      opacity: 0;
    }
  }
  &.visible-menu {
    .open-menu-button {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
