.content {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}